<!-- page -->

<div class="page">

<!-- header -->

<div class="div1">
<%= link_to image_tag("headerShowPony.png"), :controller => "navigation_controller", :action => "home" %>
</div>


<div class="navigationBar">
    <ul>
        <li><%= link_to "Home", :controller => "navigation_controller", :action => "home" %></li>
        <li><%= link_to "Rosé", :controller => "navigation_controller", :action => "wines" %></li>
        <li><%= link_to "About", :controller => "navigation_controller", :action => "about" %></li>
        <li><%= link_to "Shop", :controller => "navigation_controller", :action => "shop" %></li>
        <li class="long"><%= link_to "Locations", :controller => "navigation_controller", :action => "location"%></li>
    </ul>
</div>

<hr>

<!-- /header -->

<!-- side-bar(arnold projects) -->

<div class="sideBar">
    <p>Other Projects from<br>Arnold Myint<p>
    <%= link_to image_tag("blvd_logo.png"), "http://blvdnashville.com" %>
    <%= link_to image_tag("pm_logo.png"), "http://www.pmnashville.com" %>
    <%= link_to image_tag("suzy_logo.png"), "http://www.suzywongsnashville.com/index.php/suzy-wong-s" %>

</div>

<!-- /side-bar(arnold projects) -->

<body>
    <h1>
        Arnold Myint
    </h1>
    <p>
    Born in Nashville, TN, Arnold toured the world as a competitive skater before attending the Institute of Culinary Education. After a short stint working Jean-Georges Vongerichten’s legendary Jean-George in New York City, he returned to Nashville to pursue his own culinary aspirations.
    </p>
    <%=image_tag("arnoldCocktailing.png", :id=> "arnoldCocktailing") %>
    <p>
    He is currently a chef & partner at three restaurants, a mixologist at large and a consultant for a number of national orginizations. His work has been recognized on numerous occasions in publications such as GQ, Epicurious, and Eater.com. He has a small batched retail line of cooking and home-ware products and is producing Show Pony Wine out of Northern California.
    </p>
    <p>
    He stays active in the community by supporting charities and hopes to start a non-profit foundation in the near future.
    </p>
    <p>
    Arnold has an alter ego called Suzy Wong. Suzy can be seen out at social events or in the media as a philanthropic domestic diva. She can also stir up a fierce cocktail. She has great taste!
    </p>
    
    <h1>
        Bella Grace Vineyards
    </h1>
    <p>
    Bella Grace, est. 2006, is beautifully sited in the Sierra Foothills, with tasting locations in the Shenandoah Valley and historic Sutter Creek. This family run operation achieved state-wide recognition for its wines within a few years after opening, winning two "Best of California" awards for Barbera and Grenache Blanc wines. Bella Grace continues to strive for excellence through sustainable wine growing and hand crafted winemaking. The vineyard property, in the Shenandoah Valley, grows twelve distinct wine grape varieties and three varieties of olive oil trees.  Sustainability also extends to winemaking; a hillside wine cave stores and ages barreled red wines, and a new solar project is designed to provide 100% of the winery power requirements.
    </p>
    <%=image_tag("bella_grace_dog.png", :id=> "bella_grace_dog") %>
    <p>
    BellaGrace Vineyards plants at no more than 538 vines per acre, with 9x9 spacing. All vines have disease resistant root stock, drip irrigation, and are pruned for low yields. Sustainable vineyard practices are employed at all times, respectful of the environment and its needs. The granitic composition of Amador County's rolling hills, the cool nights and warm days, all combine to produce wine grapes that not only make the award-winning wines for which the Shenandoah Valley of California appellation has become known, but also the family legacy that Charlie and Michael have chosen to cultivate, one harvest at a time.
    </p>
    
</body>

</div>

<!-- /page -->

<!-- footer -->

<hr id="footer-line">

<div class="footer">
    
    <div class="page">
    
        <body>
            
            <p>Copyright 2015 Show Pony Wine. All rights reserved. Please contact us at: info@arnoldmyint.com. Concept by Arnold Myint. Chef de Cuisine Francesco Vito. Design by Chris Welhoelter. Absolutely no menu modifications.</p>
    
        </body>
    
    </div>
    
</div>

<!-- /footer -->

