<!-- page -->

<div class="page">

<!-- header -->

<div class="div1">
<%= link_to image_tag("headerShowPony.png"), :controller => "navigation_controller", :action => "home" %>
</div>


<div class="navigationBar">
    <ul>
        <li><%= link_to "Home", :controller => "navigation_controller", :action => "home" %></li>
        <li><%= link_to "Rosé", :controller => "navigation_controller", :action => "wines" %></li>
        <li><%= link_to "About", :controller => "navigation_controller", :action => "about" %></li>
        <li><%= link_to "Shop", :controller => "navigation_controller", :action => "shop" %></li>
        <li class="long"><%= link_to "Locations", :controller => "navigation_controller", :action => "location"%></li>
    </ul>
</div>

<hr>

<!-- /header -->

<!-- side-bar(arnold projects) -->

<div class="sideBar">
    <p>Other Projects from Arnold Myint<p>
    <a href="http://www.blvdnashville.com" target="_blank"><img src="http://assets.bizjournals.com/nashville/news/blvd_nashville_logo_NSH*500.jpg?v=1"></a>
    <a href="http://www.pmnashville.com" target="_blank"><img src="http://www.pmnashville.com/images/pm_logo.gif"></a>
    <a href="http://www.suzywongsnashville.com" target="_blank"><img src="http://www.nashvillescene.com/imager/preview-to-a-kill-suzy-wongs-house-of-yum/b/original/1481071/1a37/SuzyWongslogo.jpg"></a>
</div>

<!-- /side-bar(arnold projects) -->

<body>
    
    <h1>
        Arnold Myint
    </h1>
    <p>
    Born in Nashville, TN, Arnold spent a majority of his childhood traveling between his parents’ homeland of South East Asia and touring the world as a competitive and professional Ice Skater. After attending the Institute of Culinary Education and a short stint in New York City, Arnold returned to Nashville to begin his culinary pursuits.
    </p>
    <img src="http://arnoldmyint.com/wp-content/themes/am/lib/timthumb.php?src=http://arnoldmyint.com/wp-content/uploads/_image/34-9ae799e4.jpg&w=1020&h=650&zc=1" id="arnoldChefCoat">
    <p>
    Currently, Arnold is the Executive Chef and Owner of three popular restaurants in Music City, USA. His establishments have been recognized locally on numerous occasions as “the best of” and continues to grow his brand on the national level as reflected in publications such as GQ Magazine, Epicurious, and Eater.com and as a contestant on the popular Emmy award winning television program Top Chef.
    </p>
    <p>
    Arnold is also a savvy event planner and skilled mixologist. Outside of the kitchen, Arnold is very active in the community, supporting charities and the growth of Nashville’s independent dining scene. His family supports orphanages in Burma and Thailand where he too plays an active part by assuring proper nutrition.
    </p>
    <p>
    In addition to Arnold’s entrepreneurial goals, he hopes to start a non-profit foundation in the near future. Arnold also has a side kick, his alter ego (also known as) Suzy Wong. Suzy Wong is a marketing character of female persona which often times is seen out at social events or in the media as a philanthropic domestic diva.
    <p>
    Currently, Arnold splits his time between Nashville, Los Angeles, San Francisco and Chicago where he works as a Chef and Beverage Consultant, he continues to grow his personal lifestyle brand and is often seen in a pair of fabulous heels.
    </p>
    <p>
    -A.M.
    </p>
    
    <h1>
        Bella Grace Vineyards
    </h1>
    <p>
    What do engineered products, life insurance and winemaking have in common? The answer is, more than you may think. For BellaGrace Vineyards’ proprietors, husband and wife Charlie and Michael Havill, the three industries share two people who have discovered a single passion: winemaking. Not content with simply appreciating fine wine, as they did for many years, Charlie and Michael found themselves drawn ever closer to the wine industry in the last decade, by way of wine-industry acquaintances, until actual purchase of a vineyard became their goal.
    </p>
    <p>
    Once their vision to be involved with wine on a deeper level began taking shape, Charlie and Michael searched the Amador County region and finally settled on a fifty acre parcel, of which twenty were vineyard, in the Shenandoah Valley appellation. Early on, they worked the vineyard and sold their estate-grown Zinfandel, Primitivo and various Rhone wine grapes to regional commercial wineries and home winemakers. Before long, they realized that in order to capitalize on the quality output from the vineyard, wine production at BellaGrace was the next logical step.
    </p>
    <p>
    Doing things right the first time is the driving force behind BellaGrace Vineyards' winegrowing: from preparing the soil with organic compost, planting nutritional cover crops, and pruning for low yields, to thinning the crops during the summer, sorting the grapes during harvest and ensuring customer satisfaction. These are the elements that go into every bottle of BellaGrace wine.
    </p>
    <p>
    Focus on old style wine making – while still committed to growing and providing grapes to award winning wineries, BellaGrace Vineyards is now a fully-equipped wine making facility. A custom designed and engineered wine cave currently houses the 2013 vintage of wines, all placed in oak barrels. The wine cave serves as a focal point of the property with its 12-feet high by 12-feet wide barrel storage design. Future plans include a tasting room on top of the cave, providing panoramic views of the Sierra Mountains and neighboring vineyards.
    </p>
    <p>
    From our vineyard to your table, we hope you enjoy the end result of our wines as much as we enjoy the process.
    </p>
    <p>
    -Charlie and Michael
    </p>

    
</body>

</div>

<!-- /page -->

<!-- footer -->

<hr id="footer-line">

<div class="footer">
    
    <div class="page">
    
        <body>
            
            <p>Copyright 2015 Show Pony Wine. All rights reserved. Please contact us at: info@arnoldmyint.com. Concept by Arnold Myint. Chef de Cuisine Francesco Vito. Design by Chris Welhoelter. Absolutely no menu modifications.</p>
    
        </body>
    
    </div>
    
</div>

<!-- /footer -->

