<!-- page -->

<div class="page">
    
    <!-- header -->
    
    <div class="div1">
        <%= link_to image_tag("headerShowPony.png"), :controller => "navigation_controller", :action => "home" %>
    </div>
    
    
    <div class="navigationBar">
        <ul>
            <li><%= link_to "Home", :controller => "navigation_controller", :action => "home" %></li>
            <li><%= link_to "Rosé", :controller => "navigation_controller", :action => "wines" %></li>
            <li><%= link_to "About", :controller => "navigation_controller", :action => "about" %></li>
            <li><%= link_to "Shop", :controller => "navigation_controller", :action => "shop" %></li>
            <li class="long"><%= link_to "Locations", :controller => "navigation_controller", :action => "location"%></li>
        </ul>
    </div>
    
    <hr>
    
    <!-- /header -->
    
    <!-- side-bar(arnold projects) -->
    
    <div class="sideBar">
        <p>Other Projects from<br>Arnold Myint<p>
        <%= link_to image_tag("blvd_logo.png"), "http://blvdnashville.com" %>
        <%= link_to image_tag("pm_logo.png"), "http://www.pmnashville.com" %>
        <%= link_to image_tag("suzy_logo.png"), "http://www.suzywongsnashville.com/index.php/suzy-wong-s" %>
    </div>

<!-- /side-bar(arnold projects) -->

</div>

<div id="locationsBody">
    
    <p>You can find Show Pony Wines at a number of restaurants and retailers in the Nashville Metropolitan Area including:</p>
    <p>blvd Bistro<br>2013 Belmont Blvd, Nashville, TN 37212<br>(615) 385-2422</p>
    <p>PM<br>2017 Belmont Blvd, Nashville, TN 37212<br>(615) 297-2070</p>
    <p>Suzy Wong's House of Yum<br>1517 Church St, Nashville, TN 37203<br>(615) 329-2913</p>
    <p>Please direct questions and comments to: info@arnoldmyint.com.</p>
    
</div>

<!-- /page -->

<!-- footer -->

<hr id="footer-line">

<div class="footer">
    
    <div class="page">
        
        <body>
            
            <p>Copyright 2015 Show Pony Wine. All rights reserved. Please contact us at: info@arnoldmyint.com. Concept by Arnold Myint, wine by Bella Grace Vineyards, Amador County, California.</p>
            
        </body>
        
    </div>
    
</div>

<!-- /footer -->


