<!-- page -->

<div class="page">
    
    <!-- header -->
    
    <div class="div1">
        <%= link_to image_tag("headerShowPony.png"), :controller => "navigation_controller", :action => "home" %>
    </div>
    
    
    <div class="navigationBar">
        <ul>
            <li><%= link_to "Home", :controller => "navigation_controller", :action => "home" %></li>
            <li><%= link_to "Rosé", :controller => "navigation_controller", :action => "wines" %></li>
            <li><%= link_to "About", :controller => "navigation_controller", :action => "about" %></li>
            <li><%= link_to "Shop", :controller => "navigation_controller", :action => "shop" %></li>
            <li class="long"><%= link_to "Locations", :controller => "navigation_controller", :action => "location"%></li>
        </ul>
    </div>
    
    <hr>
    
    <!-- /header -->
    
    <!-- side-bar(arnold projects) -->
    
    <div class="sideBar">
        <p>Other Projects from<br>Arnold Myint<p>
        <%= link_to image_tag("blvd_logo.png"), "http://blvdnashville.com" %>
        <%= link_to image_tag("pm_logo.png"), "http://www.pmnashville.com" %>
        <%= link_to image_tag("suzy_logo.png"), "http://www.suzywongsnashville.com/index.php/suzy-wong-s" %>

    </div>

<!-- /side-bar(arnold projects) -->

</div>

<!-- /page -->

    <div class="shopItem">
        <%= image_tag("showPonyBoxed.png", :id => "showPonyThumbnail") %>
        <p> Show Pony Rose<br>(1 case, 6 bottles: $92) </p>
        <form>
            Cases: <input type="int">
            <input type="submit" value="Add to cart!">
        </form>
    </div>

</div>

<!-- /page -->

<!-- footer -->

<hr id="footer-line">

<div class="footer">
    
    <div class="page">
        
        <body>
            
            <p>Copyright 2015 Show Pony Wine. All rights reserved. Please contact us at: info@arnoldmyint.com. Concept by Arnold Myint. Chef de Cuisine Francesco Vito. Design by Chris Welhoelter. Absolutely no menu modifications.</p>
            
        </body>
        
    </div>
    
</div>

<!-- /footer -->

